@media screen and (max-width: 768px){
  .container{
    width: 750px;
    padding: 0;
  }
}
@media screen  and (min-width: 992px){
  .container{
    width: 970px;
  }
}
@media screen  and (min-width: 1200px) {
  .container{
    width: 1200px !important;
    padding: 0;
  }
}
