.header{
  width: 100%;
  height: auto;
  display: table;
  background: rgba(0,0,0,1);
}
.head-back{
  width: 100%;
  height: auto;
  display: table;
  margin-top: 5px;
  background: rgba(255,255,255,1);
}
.container{
  height: auto;
  margin:0 auto;
  display: table;
  padding: 0;
}

.head-left{
  width: 60%;
  height: auto;
  display: table;
  float: left;
  padding-top: 15px;
}
.head-logo{
  width: 20%;
  height: auto;
  display: table;
  float: left;
  padding-top: 15px;
  text-align: left;
}
.head-name{
  width: 80%;
  height: auto;
  float: left;
  display: table;
  padding-top: 30px;
  text-align: left;
}
.head-right{
  width: 40%;
  height: auto;
  display: table;
  float: left;
}
.head-lianxi{
  width: 60%;
  height: auto;
  display: inline-block;
  float: left;
  margin-left: 25%;
  line-height: 140px;
}
.head-serch{
  width: 15%;
  height: auto;
  display: table;
  float: left;
  position: relative;
  background: rgba(0,0,0,1);
  line-height: 140px;
}
.serch{
  font-size: 1.5rem;
  color: white;
}
.input-span{
  width: 150px;
  height: 35px;
  top: 35%;
  display: none;
  background: rgba(0,0,0,1);
  position: absolute;
  left: -150px;
  color: white;
  border: none;
  font-size: 0.9rem;
  padding-left: 15px;
}
.menu{
  width: 10%;
  height: auto;
  float: left;
  display: none;
  position: absolute;
}
.menu-icon{
  font-size: 2rem;
  position: fixed;
  right: 10px;
}
/*--------------手机屏导航栏------------------------*/
.nav-small{
  width: 50%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 5;
  display: none;
  background: rgba(0,0,0,1);
}
.nav-titile{
  width: 100%;
  height: 10%;
  text-align: right;
}
.icon-del2:before{
  font-size: 2rem;
  line-height: 140px;
  padding-right: 15px;
  color: rgba(255,255,255,1);
}
.nav-small-li{
  width: 100%;
  height: 55px;
  display: table;
  list-style-type: none;
  border-bottom: 1px solid rgba(255,255,255,1);
}
.small-li-span{
  width: 80%;
  height: 100%;
  float: left;
  padding-left: 10%;
  color: white;
  text-align: left;
  line-height: 55px;
  font-size: 1rem;
}
.small-li-icon{
  width: 20%;
  height: 100%;
  float: left;
}
.icon-jiantouyou:before{
  color: white;
  line-height: 50px;
  font-size: 1.2rem;
}
.nav-close{
  width: 50px;
  height: 50px;
  float: right;
}
.nav-sub{
  width: 100%;
  height: 100%;
  background: rgba(50,50,50,1);
  position: absolute;
  top: 0;
  left: 200%;
  z-index: 3;
}
.nav-sub-title{
  width: 100%;
  height: 70px;
  padding-top: 10%;
  line-height: 70px;
  text-align: left;
  padding-left: 5%;
}
.nav-sub-details{
  width: 100%;
  height: 100%;
}
.nav-sub-li{
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 1rem;
  color: white;
  text-align: left;
  padding-left: 5%;
  border-bottom: 1px solid rgba(255,255,255,1);
}
.icon-zuojiantou:before{
  font-size: 1.5rem;
  color: white;
}
@media screen and (max-width: 768px) {
  .container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .head-right{
    display: none !important;
  }
  .head-left{
    width: 90%;
  }
  .head-logo{
    display: inline-block;
    padding-top: 0;
    padding-bottom: 5px;
  }
  .head-logo img{
    width: 100%;
    height: 80%;
  }
  .menu{
    display: block;
  }
  .head-name{
    padding-top: 15px;
  }
  .head-name img{
    width: 100%;
    height: 80%;
  }
}
